{% extends './base.html' %}
{% load static %}
{% block head %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
<div class="container">

    

      </div>
    </div>


        <div class="row container">
            <nav>
                <div class="nav-wrapper grey darken-4 forcenoshadow">
                  <div class="col s12">
                    <a href="{% url 'sphynx:index'%}" class="breadcrumb">Home</a>
                    <a href="{% url 'sphynx:category' category.id %}" class="breadcrumb">{{ category }}</a>
                  </div>
                </div>
              </nav>
          <div class="col s2">
            <div class="row">
                <div class="col">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text align-center-extra">
                        {% if thread %}
                        <img src="{% static 'forum/pfp/'|add:thread.author.userdetails.profile_pic %}" alt="" class="circle z-depth-3" width="140px">
                        {% else %}
                        <img src="{% static 'forum/pfp/'|add:request.user.userdetails.profile_pic %}" alt="" class="circle z-depth-3" width="140px">
                        {% endif %}
                      <span class="card-title">{% if thread %} {{ thread.author.username }} {% else %} {{ request.user.username }} {% endif %}</span>
                      <p class="red-text accent-1 bold">
                        {% if thread %}
                        {% if thread.author.userdetails.custom_title %} {{ thread.author.userdetails.custom_title }} {% endif %}
                        {% else %} 
                        {% if request.user.userdetails.custom_title %} {{ request.user.userdetails.custom_title }} {% endif %}
                      {% endif %}
                      </p>
                      <p>{% if thread %} {{ thread.author.userdetails.bio }} {% else %} {{ request.user.userdetails.bio }} {% endif %}</p>
                    </div>
                    <div class="card-action align-right-extra">
                      {% if thread %}
                      <a href="{% url 'sphynx:profile' thread.author.id %}">Visit Profile</a>
                      {% else %}
                      <a href="{% url 'sphynx:profile' request.user.id %}">Visit Profile</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
                        
          
          </div>
    
          <div class="col s10">
           
            <ul class="collection">
              <br>
              <form method="POST">
                {% csrf_token %}
              <div class="input-field col s12">
                <textarea id="title" name="title" class="materialize-textarea white-text" minlength="5" maxlength="25" rows="5">{% if thread %} {{ thread.title }} {% endif %}</textarea>
                <label for="title">Title</label>
              </div>
                <div class="input-field col s12">
                  <textarea id="textarea1" name="body" class="materialize-textarea white-text" minlength="15" maxlength="500" rows="5" style="height:15%;">{% if thread %} {{ thread.body }} {% endif %}</textarea>
                  <label for="textarea1">Body</label>
                </div>
                <div class="g-recaptcha" data-sitekey="6LfvHe4UAAAAAEavzqRDfgKvlKpY_SqUU_A0YKa9" data-theme="dark"></div>
                <br>
                <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-bottom:20px;margin-top:90px">Submit
                  <i class="material-icons right">send</i>
                </button>
              </form>
            </ul>
            <br>
          </div>
    
        </div>

  

    
  </div>
  

{% endblock %}